
body {
	background-color: #404040;
	font-family: sans-serif;
}

#main {
	background-color: #d0d0FF;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border: 2px solid #000000;
	width: 800px;
	margin: 0 auto;
	padding: 20px
}

.error {
	color: #ff0000;
}

.good {
	color: #0d8d0d;
}

.solar {
	color: #c9c900;
}

.input-color {
    position: relative;
}
.input-color a {
    padding-left: 20px;
}
.input-color .color-box {
    width: 15px;
    height: 15px;
    display: inline-block;
    background-color: #ccc;
    position: absolute;
    left: 5px;
    top: 0px;
}